/*  Text
 --------------------- */
h1 {
	color: black;
	font-family: Tahoma, "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}
h2 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}
h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	line-height: 120%;
}
h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.6;
	margin:auto;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}
h1 {
	font-size: 14px;
	color: #FFF;
}
#topbar{
	background: none repeat scroll 0 0 #E80000;
    height: 32px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.top_space {
    padding-top: 32px;
}
.hello{
	float:right;
	margin-right: 5px;
	margin-top: 5px;
	color:#FFF;
}
#header {
    width: 980px;
    border: 3px outset #C00;
/*	border: 10px solid #d8d8d8;   mau nen khung bao quanh*/
    margin: 0px auto 0px;
    background: #FFF;
}
.menu {
    width: 980px;
    border: 5px outset #33F;
/*	border: 10px solid #d8d8d8;   mau nen khung bao quanh*/
    margin: 0px auto 0px;
    background: #36C;
}
.wrapper {
    width: 980px;
    margin: 0 auto;
}
.tieudeds {
	color: #FFF;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	background-color: #09F;
}
#tieude { 
color: #00C;
font-size: 22px;
font-weight: bold;
text-align: center;
padding-bottom: 10px;
padding-top: 10px;
background-color: #FFFBF0;
border: outset 3px;
}
#tieude2 { 
color: #00C;
font-size: 20px;
font-weight: bold;
text-align: center;
padding-bottom: 5px;
padding-top: 10px;
background-color: #FFFBF0;
border: outset 3px;
}
.footer { 
font-size: 12px;
color: #00C;
font-weight: bold;
background-color:#FFFBF0;
text-align: center;
/* border: outset 3px; */
width: 100%;
padding-left: 5px;
padding-right: 5px;
}
table.helpT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 500px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 
td.helpBod
{ border-bottom: 1px solid #9CF;
border-top: 0px;
border-left: 1px solid #9CF;
border-right: 0px;
text-align: left;
text-indent: 10px;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 11px;
color: #404040;
background-color: #fafafa; }
table.sofT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 580px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; }
/* Tables
 ------------ */
th {
	color: #FFFFFF;
	background-color: #FF0099;
	height: 25px;
	white-space: nowrap;
	padding: 4px 5px;
	border: outset 1px;
}
td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}
.tablebg {
	background-color: #D3D8DB;
	color: #000000;
}
.tablemenu {
	background-color: #FFFBFO;
	color: #000000;
}
.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background: white url('./images/cellpic2.jpg') repeat-y scroll top left;
}
.rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}
.cat {
	color: black;
	height: 35px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #C7D0D7;
	background-image: url('./images/cellpic1.gif');
	text-indent: 4px;
	font-size: 1.1em;
}
.na {
	color: black;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #C7D0D7;
	background-image: url('./images/cellpic1.gif');
	text-indent: 4px;
}
.row 
{ 
color: #03C;
}
.row1 {
	background-color: white;
	padding: 4px;
	border: outset 1px;
}
.aupro {
	background-color: #FF0099;
	color: white;
	background-image: url('./images/au.gif');
	padding: 4px;
}
.row2 {
	background-color: white;
	padding: 4px;
	border: outset 2px;
	color:#03C;
}
.row3 {
	background-color: #FFFBF0;
	padding: 4px;
	border: outset 2px;
	color: #00C;
	font-weight: bold;
}
.row4 {
	background-color: #FFFBF0;
	padding: 4px;
	color: #00C;
	font-weight: bold;
}
.row5 {
	background-color: white;
	padding: 4px;
	font-size:1em;
}
.row6 {
	background-color: #FFFBF0;
	padding: 4px;
	border: outset 1px;
	color: #03C;
	font-weight: bold;
}
.spacer {
	background-color: #000000;
}
hr {
	height: 1px;
	border-width: 0;
	background-color: #D1D7DC;
	color: #D1D7DC;
}
.legend {
	text-align:center;
	margin: 0 auto;
}
/* Links
 ------------ */
a:link {
	color: #0000FF;
	text-decoration: none;
}
a:visited {
	color: #0000FF;
	text-decoration: none;
}
a:hover {
	color: #CC99FF;
	text-decoration: underline;
	font-weight:bold;
}
a.forumlink {
	color: #0000FF;
	font-weight: bold;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 1.3em;
}
a.forumlink:hover {
	color: #CC99FF;
}
a.autinhyeu {
	color: #0000FF;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}
a.autinhyeu:hover {
	color: #FFFF66;
}
a.topictitle {
	margin: 1px 0;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}
a.topictitle:visited {
	color: #0000FF;
}
th a,
th a:visited {
	color: #FFFFFF !important;
	text-decoration: none;
}
th a:hover {
	color: #93CE6F;
	text-decoration: underline;
}
/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}
input {
	color: #333333;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid black;
	background-color: white;
}
textarea {
	background-color: white;
	color: black;
	font-family: Tahoma, "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 2px;
}
select {
	color: #333333;
	background-color: #FAFAFA;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 1px;
}
option {
	padding: 0 1em 0 0;
}
option.disabled-option {
	color: graytext;
}
.rtl option {
	padding: 0 0 0 1em;
}
input.radio {
	border: none;
	background-color: transparent;
}
.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.0em;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	background-color: white;
	border: 1px solid black;
}
.btnmain {
	font-weight: bold;
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}
.btnlite {
	font-weight: normal;
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}
.btnfile {
	font-weight: normal;
	background-color: white;
	border: 1px solid black;
	padding: 1px 5px;
	font-size: 1.1em;
}
.helpline {
	background-color: white;
	border-style: none;
}