<TITLE>Database BackUp and Restore | &copy; 2007 by Mr.Diep (YahooID: itthaibinh)</TITLE>
<CENTER>
<H1><br>
/*====================================*\<br>
|| ################################## ||<br>
|| # MYSQL LOGIN                  	# ||<br>
|| # ------------------------------	# ||<br>
|| # Code by Mr.Diep			# ||<br>
|| # Y!m : itthaibinh				# ||<br>
|| # website:www.dttx.org	# ||<br>
|| ################################## ||<br>
\*====================================*/</H1>
</CENTER>
